<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="@Url.Action("Index","Home",new {Area =""})">
                    <i class="fa fa-home"></i>
                    <span>Inicio</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Entidades</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Funcionarios", "Funcionario", new {Area = ""})"><i class="fa fa-edit"></i>Funcionários</a></li>
                    <li><a href="@Url.Action("Index","Utilizadores", new {Area = ""})"><i class="fa fa-users"></i> <span>Gestão de Usuários</span></a></li>
                    <li><a href="@Url.Action("Requerentes", "Requerente", new {Area = ""})"><i class="fa fa-edit"></i>Requerentes</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-retweet"></i>
                    <span>Processos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Home", new {Area = ""})"><i class="fa fa-bookmark"></i>Amostras</a></li>
                    <li><a href="@Url.Action("Index", "Home", new {Area = ""})"><i class="fa fa-asterisk"></i>Solicitação de análises</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-credit-card-alt"></i>
                    <span>Caixa</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-bookmark"></i>Sub-menu</a></li>
                    <li><a href="#"><i class="fa fa-asterisk"></i>Sub-menu</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>Relatórios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-bookmark"></i>Sub-menu</a></li>
                    <li><a href="#"><i class="fa fa-asterisk"></i>Sub-menu</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Definições</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-bookmark"></i>Sub-menu</a></li>
                    <li><a href="#"><i class="fa fa-asterisk"></i>Sub-menu</a></li>

                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
